/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'Lato', sans-serif;
    margin: auto;
}
header{
    width: 100%;
    text-align: center;
    background-color: #d4bd9e;

}
img{
    max-width: 30em;
    display: block;
    margin: auto;
}
h1{
    margin: 0;
    padding: 1em;
    vertical-align: center;
    font-size: 1em;
}
input{
    font-size: 1em;
    width: 18em;
    height: 1.5em;
    margin: 2em 1em 0 1em;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 1em;
    display: inline-block;
}
input:focus{
    outline: black;
    border-radius: 1em;
}
#haku{
    width: 100%;
    text-align: center;

}
#nappi{
    font-size: 1em;
    display: block;
    margin: 2em auto 2em auto;
    width: 10em;
    height: 2.5em;
    background-color: #487b74;
    border-radius:1em ;


}
#nappi:focus{
    outline: black;
    border-radius: 1em;
}
#nappi:hover{
    background-color: #71a49d;
}
#map{
    display: inline-block;

   /* margin: 1em calc(50% - 15em ) 1em calc(50% - 15em );'*/
    width: 40%;
    margin: 0 5% 0 5%;
    height:40em;
    float: right;
}
#lahtoerror {
    text-align: center;
}
#saapuminenerror {
    text-align: center;
}
#hinnasto{
    float: left;
    border-spacing: 0;
     /* calc(50% - 15em) 1em calc(50% - 15em);*/
    display: none;
    width: 80%;
    height: 30em;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1em;

}
td {
    font-size: 1.2em;
    border-bottom: 1px solid #333;
    margin: 0.5em 0 0.5em 0;
    text-align: center;
}

thead {
    background-color: #487b74;
    color: white;
}
#info {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
#hinnat {
    float: left;
    width: 50%;

}

img {
    width: 100%;
    height: auto;
}
footer {
    margin: 1em;
    display: inline-block;
    width: 100%;
    font-size: 1em;
    text-align: center;

}
#gif {
}
#start {
    width: 100%;
    display: block;
    text-align: center;
}
a{
    color: black;
}
.ap-nostyle-dropdown-menu {
    box-shadow: none;
    border: 1px solid #dadada;
    border-radius: 0;
    background: #fff;
    width: 100%;
}

.ap-nostyle-input-icon {
    display: block;
    position: absolute;
    background: none;
    border: none;
}
.algolia-places-nostyle { }
.ap-nostyle-icon-pin { display: none;}
.ap-nostyle-icon-clear { right: 5%; bottom: 5% }
input:hover { border-color: silver; }
input::placeholder { color: #aaaaaa; }
.ap-nostyle-suggestion { border-bottom: 1px solid #efefef; }






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width:  40em) {
    body {
        margin: 0;
    }
    header {
        font-size: 1em;
        width: 100%;
        margin: 0;
    }
    main {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 1em;
    }
    footer {
        width: 100%;
        font-size: 0.5em;'
    }
    div{
        margin: auto;
    }

    #map{
        display: block;
        margin: 0;
        padding: 1em;
        width: 100%;
        height: 28em;
    }
    #hinnasto{
        width: 100%;
        height: 28em;
        display: none;
        margin:0;
    }
    #hinnat {

       width: 100%;
        height: auto;
    }
    input {
        display: block;
        width: 15em;
        height: 3em;
        margin: 1em auto 1em auto;
        font-size: 1em;

    }
    button{
        font-size: 1em;
        background-color: #487b74;
        border-radius: 1em;
        height: 3em;
        margin-bottom: 1em;


    }
    figure {
        margin: 1em auto;
        margin-top: 0;
    }
    td {
        font-size: 1em;
    }
    #gif{
        display: none;
    }


}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
